# Import Libraries
import time
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

# Scikit-Learn Core
from sklearn.base import clone
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import (StandardScaler, PowerTransformer, FunctionTransformer, MinMaxScaler, RobustScaler, OrdinalEncoder)
from sklearn.feature_selection import SelectKBest, f_classif, chi2

# Scikit-Learn Models
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import (RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, ExtraTreesClassifier,BaggingClassifier, HistGradientBoostingClassifier)
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

# Specialized Boosting Models
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

# Imbalanced Learning
from imblearn.ensemble import (BalancedRandomForestClassifier, EasyEnsembleClassifier, BalancedBaggingClassifier)

# Deep Learning & Keras Wrappers
import tensorflow as tf
from tensorflow.keras.utils import plot_model
from scikeras.wrappers import KerasClassifier

# Metrics
from sklearn.metrics import (accuracy_score, confusion_matrix, classification_report,roc_auc_score, roc_curve, precision_recall_curve)

# Settings & Installations
warnings.filterwarnings('ignore')
